<%- include("header") -%>
<h2>About</h2>
<div>
  <p>This Project was made by Saqib Shaikh using Node.js and MongoDB</p>
  <p>
    Get the source code of this project on
    <a href="https://github.com/saqib0401/todolist" target="_blank">Github</a>.
  </p>
</div>

<%- include("footer") -%>
